/* button color #891216; */
/* text color color: #ffc500; */
/* background color #000000 */
/* container background-color: #140100; */
/* other #372726 */

.btn-vs {
    background-color: #891216;
    color: var(--text-color);
}

.bc-container {
    background-color: var(--screen-color);
    /* border: 3px solid #595358; */
    height: 70vh;
}

.vs-item:hover {
    transition: background-color .5s;
    background-color: #372726;
}

.modal-content {
    background-color: var(--modal-color);
}

.modal-header {
    background-color: #372726;
    border-color: #493a3a;
}

.form-control.dark {
    border: 1px solid var(--text-color);
    background-color: var(--modal-color);
    color: var(--text-color);
}

.form-control.dark:focus {
    border-color: var(--text-color);
    box-shadow: 0 0 0 0.25rem var(--text-color) / 25%;
}

.form-control.dark::placeholder {
    color: var(--text-color);
    opacity: 50%;
}

/* .form-check-input:checked[type=checkbox] {
    background-image: url();
} */

.form-check-input {
    height: 50px;
    width: 50px;
    background-color: #8b8b8b;
    border-color: #8b8b8b;
    border: 3px solid var(--text-color);
}

.form-check-label {
    font-size: 24px;
    padding: 0.7rem 0 0 0.6rem;
}

.form-check-input:checked {
    background-color: #8b8b8b;
    border-color: #8b8b8b;
    border: 3px solid var(--text-color);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem var(--text-color);
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}