/* button color #891216; */
/* text color color: #ffc500; */
/* background color #000000 */
/* container background-color: #140100; */
/* other #372726 */

.btn-vs {
    background-color: #891216;
    color: #ffc500;
}

.bc-container {
    background-color: #140100;
    border: 3px solid #595358;
    height: 70vh;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}