.current-character-image {
    width: 220px;
    height: 220px;
}

.character-image {
    width: 128px;
    height: 128px;
}

.item-image {
    width: 64px;
    height: 64px;
}

.list-item-image {
    width: 32px;
    height: 32px;
}